
.section_quotes {
  height: 100vh;
  position: relative;
  z-index: 5;
}

.section_quotes__span {
  color:rgb(77, 77, 77);
  padding: .5rem;
  font-family: 'futurama-bold';
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  border-radius: .5rem;
  transition: 400ms ease-in-out;
  background-color: rgb(228, 228, 228);
  border: 2px solid rgb(77, 77, 77);
  overflow: hidden;
  user-select: none;
}

.next {
  width: 10rem;
  font-size: 1.5rem;
  bottom: 0;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.images {
  position: relative;
  color:rgb(77, 77, 77);
  font-size: 1rem;
  width: 6rem;
  height: 2rem;
  margin: 1rem;
  line-height: 2rem;
}

.circle {
  border-radius: 50%;
  position: absolute;
  width: 1rem;
  height: 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(204, 38, 38, 0.2);
  animation: 
    enterCircle 1s,
    exitCircle 1s 1s forwards;
}

@keyframes enterCircle {
  100% {transform: scale(20)}
}

@keyframes exitCircle {
  100% {opacity: 0;}
}

.section_quotes__span:hover {
  background-color: rgb(255, 255, 255);
  transition: 400ms ease-in-out;
}

.section_quotes__article {
  width: 100vw;
  box-sizing: border-box;
  position: absolute;
  display: flex;
  justify-content: center;
  background: rgba(36, 36, 36, 0.85);
  bottom: 0;
  padding: 5vh 5vw 8vh 5vw;
}
.section_quotes__article_quote__div {
  flex: 1;
  max-width: 35rem;
  margin: 0 3vw 5vh 3vw;
  color:  rgb(225, 226, 226);
  animation: enterQuote 1s;
  h2 {
    text-transform: uppercase;
    font-family: 'futurama-bold';
    margin-top: 0;
    margin-bottom: 1rem;
    color: rgb(233, 58, 52);
    text-shadow: 2px 1px rgb(251, 227, 3);
    animation: enterQuote 1s;
  }
  p {
    line-height: 3rem;
    font-family: 'Reem Kufi', sans-serif;
    padding-left: 2rem;
    margin: 0;
    font-size: 1.5rem;
    animation: enterQuote 1s;
  }
}
.first {
  margin-left: 0;
}
.second {
  margin-right: 0;
}

.section_quotes__article_top {
  display: flex;
  justify-content: space-between;
  padding: 1vh 5vw;
}

.section_quotes__article_top__div_episode {
  max-width: 16rem;
  border-radius: 0 0 1rem 0;
  animation: enterQuote 1s;
  cursor: pointer;
  h4 {
    font-family: 'futurama-title';
    margin: 1rem;
    color: rgb(226, 225, 225);
    letter-spacing: 3px;
    animation: enterQuote 1s;
    font-size: .9rem;
  }
}
.dead {
  pointer-events: none;
}

@keyframes enterQuote {
  0%{opacity: 0;}
  100%{opacity: 1;}
}


@media only screen and (max-width: 600px) {
  .section_quotes__article {
    flex-direction: column;
  }
  .section_quotes__article_quote__div {
    p {
      line-height: 2.5rem;
      padding-left: 1rem;
    }
  }
  .section_quotes__article_top {
    padding: 1vh 3vw;
  }
  .section_quotes__article_top__div_episode {
    max-width: 55vw;
  }
}
